<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false"/>

    <application
        android:name=".VelobikeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules" tools:replace="android:fullBackupContent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Velobike"
        tools:targetApi="31">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Velobike"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider" />
        </provider>

        <meta-data
            android:name="im.threads.getServerUrl"
            android:value="https://mosmetro-ds.threads.im/" />
        <meta-data
            android:name="im.threads.getDatastoreUrl"
            android:value="https://mosmetro-ds.threads.im/" />
        <meta-data
            android:name="im.threads.threadsGateUrl"
            android:value="wss://mosmetro.edna.io/socket" />
        <meta-data
            android:name="im.threads.threadsGateProviderUid"
            android:value="RWNqIVdGKEtIKUBxW0s8QVNjOW9Ca3E5NEZ0cw==" />
        <meta-data
            android:name="im.threads.threadsTransportType"
            android:value="THREADS_GATE"
            tools:replace="android:value" />
        <meta-data
            android:name="com.pushserver.android.logs"
            android:value="false" />

    </application>

</manifest>